* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

#header {
  max-width: 1440px;
  margin: auto;
}

#header #header__top {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #header__top .top_left .left-content {
  padding-left: 95px;
}

#header #header__top .top_left .left-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

#header #header__top .top_left .left-content ul .with-separator {
  padding-left: 2px;
  margin-left: 2px;
  border-left: 1px solid #d6d5d5;
}

#header #header__top .top_left .left-content ul li {
  list-style: none;
}

#header #header__top .top_left .left-content ul li a {
  padding: 10px;
  text-decoration: none;
  color: #102b4e;
  font-size: 13px;
  font-weight: bold;
}

#header #header__top .top_left .left-content ul li a :hover {
  color: #2096cd;
  font-size: 13px;
  font-weight: bold;
}

#header #header__top .top_left .left-content ul li a .icon-mustang {
  background-image: url(../img/mustang.svg);
  height: 30px;
  width: 43px;
  display: inline-block;
  vertical-align: middle;
}

#header #header__top .top_left .left-content ul li a .icon-bronco {
  background-image: url(../img/bronco.svg);
  height: 30px;
  width: 43px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

#header #header__top .top_left .left-content ul li a .left-text {
  display: inline-block;
  width: auto;
  text-align: left;
  vertical-align: middle;
  padding: 10px 0px 10px 0px;
}

#header #header__top .right-content {
  padding: 10px;
  text-align: right;
  position: relative;
}

#header #header__top .right-content .top-heading {
  color: #0276b3;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 110px;
}

#header #header__top .right-content .top-heading .icon-dealer {
  background-image: url(../img/leader.svg);
  height: 23px;
  width: 23px;
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #102b4e;
}

#header #header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

#header #header__bottom .bottom_left {
  padding-left: 130px;
}

#header #header__bottom .bottom_left a {
  text-decoration: none;
}

#header #header__bottom .bottom_left a .brand-logo {
  background: transparent url(../img/bsr-sprite2x.webp) no-repeat -200px 0;
  width: 93px;
  height: 35px;
  background-size: 400px 200px;
  display: inline-block;
  padding: 0;
}

#header #header__bottom .bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #header__bottom .bottom_right .nav-left .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #header__bottom .bottom_right .nav-left .nav-menu .nav-item {
  padding: 0 5px;
  list-style: none;
}

#header #header__bottom .bottom_right .nav-left .nav-menu .nav-item a {
  color: #2096cd;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
}

#header #header__bottom .bottom_right .nav-left .nav-menu .nav-item :hover {
  color: #102b4e;
}

#header #header__bottom .bottom_right .nav-right {
  padding-right: 95px;
}

#header #header__bottom .bottom_right .nav-right .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #header__bottom .bottom_right .nav-right .nav-menu .nav-item {
  padding: 0 5px;
  list-style: none;
  margin-left: 15px;
}

#header #header__bottom .bottom_right .nav-right .nav-menu .nav-item a {
  color: #2096cd;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
}

#header #header__bottom .bottom_right .nav-right .nav-menu .nav-item a .user-menu-icon {
  background-image: url(../img/my.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

#header #header__bottom .bottom_right .nav-right .nav-menu .nav-item :hover {
  color: #102b4e;
}

#demo {
  max-width: 1440px;
  margin: auto;
}

#Intro {
  max-width: 1440px;
  margin: auto;
}

#Intro .Intro_content {
  padding-top: 20px;
}

#Intro .Intro_content .Intro_heading {
  text-align: center;
}

#Intro .Intro_content .Intro_heading h1 {
  font-size: 46px;
  margin-top: 25px;
  font-family: "fordngbs-antenna-light", arial, helvetica, sans-serif;
}

#Intro .Intro_content .Intro_heading .heading_text span {
  font-size: 16px;
}

#Intro .Intro_content .Intro_heading p .btn-primary {
  min-height: 50px;
  width: 270px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "fordngbs-antenna-light", arial, helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  white-space: normal;
  line-height: 1.25;
}

#Intro .Intro_content .Intro_heading p a {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  color: #fff;
}

#Intro .Intro_content .Intro_heading p :hover {
  background-color: #fff;
  color: #0276b3;
}

#Finish {
  max-width: 1440px;
  margin: auto;
}

#Finish .Finish_content {
  padding: 75px;
}

#Finish .Finish_content .Finish_heading {
  text-align: center;
  padding-bottom: 20px;
}

#Finish .Finish_content .Finish_heading h2 {
  color: #242424;
  font-size: 42px;
  font-weight: bold;
}

#Finish .Finish_content .Finish_heading .Finish_text {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

#Finish .Finish_content .Finish_heading .Finish_text span {
  font-size: 16px;
}

#Finish .Finish_video {
  position: relative;
  width: 100%;
}

#Finish .Finish_video .Finish_bg {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  height: 100%;
}

#gallery {
  max-width: 1440px;
  margin: auto;
}

#gallery .gallery_content .gallery_bg {
  position: relative;
}

#gallery .gallery_content .gallery_bg .bg_text {
  text-align: center;
}

#gallery .gallery_content .gallery_bg .bg_text .text_heading {
  position: absolute;
  top: 15%;
  left: 35%;
}

#gallery .gallery_content .gallery_bg .bg_text .text_heading h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

#gallery .gallery_content .gallery_bg .bg_text .text {
  position: absolute;
  top: 75%;
  left: 45%;
}

#gallery .gallery_content .gallery_bg .bg_text .text :hover a i {
  background-color: #fff;
  color: #607d8b;
}

#gallery .gallery_content .gallery_bg .bg_text .text a {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}

#gallery .gallery_content .gallery_bg .bg_text .text a .icon_text i {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
}
/*# sourceMappingURL=main.css.map */