* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container {
  max-width: 1440px;
  padding: 0;
}

.navbar__header {
  -webkit-box-shadow: 0 5px 4px -4px black;
          box-shadow: 0 5px 4px -4px black;
}

.navbar__header .nav__top {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 95px;
}

.navbar__header .nav__top .top_left .left-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.navbar__header .nav__top .top_left .left-content ul .with-separator {
  padding-left: 2px;
  margin-left: 2px;
  border-left: 1px solid #d6d5d5;
}

.navbar__header .nav__top .top_left .left-content ul li {
  list-style: none;
}

.navbar__header .nav__top .top_left .left-content ul li a {
  padding: 10px;
  text-decoration: none;
  color: #102b4e;
  font-size: 13px;
  font-weight: bold;
}

.navbar__header .nav__top .top_left .left-content ul li a :hover {
  color: #2096cd;
  font-size: 13px;
  font-weight: bold;
}

.navbar__header .nav__top .top_left .left-content ul li a .icon-mustang {
  background-image: url(../img/mustang.svg);
  height: 30px;
  width: 43px;
  display: inline-block;
  vertical-align: middle;
}

.navbar__header .nav__top .top_left .left-content ul li a .icon-bronco {
  background-image: url(../img/bronco.svg);
  height: 30px;
  width: 43px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.navbar__header .nav__top .top_left .left-content ul li a .left-text {
  display: inline-block;
  width: auto;
  text-align: left;
  vertical-align: middle;
  padding: 10px 0px 10px 0px;
}

.navbar__header .nav__top .right-content {
  padding: 10px;
}

.navbar__header .nav__top .right-content .top-heading {
  color: #0276b3;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.navbar__header .nav__top .right-content .top-heading i {
  color: #29303b;
  font-size: 20px;
  font-weight: bold;
  height: 23px;
  width: 23px;
}

.navbar__header .nav__top .right-content :hover i {
  color: #0276b3;
}

.navbar__header .nav__bottom {
  height: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 95px;
}

.navbar__header .nav__bottom .nav_bottom_left img {
  width: 93px;
}

.navbar__header .nav__bottom .nav_bottom_right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-left .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-left .nav-menu .nav-item {
  list-style: none;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-left .nav-menu .nav-item a {
  color: #2096cd;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 8px;
  text-transform: uppercase;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-left .nav-menu .nav-item :hover {
  color: #102b4e;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-right .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-right .nav-menu .nav-item {
  list-style: none;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-right .nav-menu .nav-item a {
  color: #2096cd;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 8px;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-right .nav-menu .nav-item a .user-menu-icon {
  background-image: url(../img/my.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.navbar__header .nav__bottom .nav_bottom_right .nav-right .nav-menu .nav-item :hover {
  color: #102b4e;
}

.navbar__header .nav__bottom .nav_hamburger_menu {
  display: none;
  text-align: center;
  cursor: pointer;
}

.navbar__header .nav__bottom .nav_hamburger_menu .hamburger_btn {
  width: 35px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__header .nav__bottom .nav_hamburger_menu .hamburger_btn .line {
  width: 100%;
  height: 2px;
  background-color: #29303b;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__header .nav__bottom .nav_hamburger_menu .hamburger_btn.change .line1 {
  -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
          transform: rotateZ(-45deg) translate(-8px, 6px);
}

.navbar__header .nav__bottom .nav_hamburger_menu .hamburger_btn.change .line2 {
  opacity: 0;
}

.navbar__header .nav__bottom .nav_hamburger_menu .hamburger_btn.change .line3 {
  -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
          transform: rotateZ(45deg) translate(-8px, -6px);
}

.navbar__header .nav__bottom .nav_hamburger_menu .menu_text {
  font-size: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

.navbar__header .nav__bottom .nav_hamburger_menu.open .menu_text {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .nav__top {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .nav__bottom {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .nav__bottom .nav_bottom_right .nav-right {
    margin-left: 10px !important;
  }
  .nav__bottom .nav_bottom_right .nav-right .user-text {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .nav__top {
    display: none !important;
  }
  .nav__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px !important;
  }
  .nav_bottom_right {
    display: none !important;
  }
  .nav_hamburger_menu {
    display: block  !important;
  }
}

@media screen and (max-width: 768px) {
  .nav__bottom {
    padding: 0 25px !important;
  }
}

#demo {
  max-width: 1440px;
  margin: auto;
  position: relative;
  margin-top: 120px;
}

#demo .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#demo .carousel-control-prev {
  opacity: 1;
}

#demo .carousel-control-prev .button__left {
  position: absolute;
  left: 0;
  width: 55px;
  top: 50%;
  height: 60px;
  border: 1px solid #a7a7a7;
  line-height: 70px;
  background-color: #a7a7a7;
}

#demo .carousel-control-prev .button__left:hover {
  border: 1px solid #2096cd;
  background-color: #fff;
}

#demo .carousel-control-prev .button__left:hover i {
  color: #2096cd;
}

#demo .carousel-control-prev .button__left i {
  font-size: 35px;
  color: #fff;
}

#demo .carousel-control-next {
  opacity: 1;
}

#demo .carousel-control-next .button__right {
  position: absolute;
  right: 0;
  width: 55px;
  top: 50%;
  height: 60px;
  border: 1px solid #a7a7a7;
  line-height: 70px;
  background-color: #a7a7a7;
}

#demo .carousel-control-next .button__right:hover {
  border: 1px solid #2096cd;
  background-color: #fff;
}

#demo .carousel-control-next .button__right:hover i {
  color: #2096cd;
}

#demo .carousel-control-next .button__right i {
  font-size: 35px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .carousel-item img {
    height: 500px;
  }
}

#Intro {
  max-width: 1440px;
  margin: auto;
}

#Intro .Intro_content {
  padding-top: 20px;
}

#Intro .Intro_content .Intro_heading {
  text-align: center;
}

#Intro .Intro_content .Intro_heading h1 {
  font-size: 46px;
  margin-top: 25px;
  font-family: "fordngbs-antenna-light", arial, helvetica, sans-serif;
}

#Intro .Intro_content .Intro_heading .heading_text span {
  font-size: 16px;
}

#Intro .Intro_content .Intro_heading p .btn-primary {
  min-height: 50px;
  width: 270px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "fordngbs-antenna-light", arial, helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  white-space: normal;
  line-height: 1.25;
}

#Intro .Intro_content .Intro_heading p a {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  color: #fff;
}

#Intro .Intro_content .Intro_heading p :hover {
  background-color: #fff;
  color: #0276b3;
}

#Intro .Intro_content .Intro_image .image_content img {
  width: 100%;
}

#Intro .Intro_content .Intro_image .image_content .Img2 {
  display: none;
}

@media screen and (max-width: 992px) {
  .Intro_image .image_content .Img1 {
    display: none;
  }
  .Intro_image .image_content .Img2 {
    display: block  !important;
  }
}

@media screen and (max-width: 768px) {
  .Intro_heading {
    padding: 0 20px;
  }
  .Intro_heading h1 {
    font-size: 36px !important;
  }
}

.Finish .Finish_content {
  width: 86%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.Finish .Finish_content .Finish_heading {
  text-align: center;
  margin: 30px 0;
}

.Finish .Finish_content .Finish_heading h1 {
  color: #29303b;
  font-size: 42px;
  font-weight: bold;
}

.Finish .Finish_content .Finish_heading .Finish_text {
  width: 70%;
  margin: auto;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 2rem;
  color: #29303b;
}

.Finish .Finish_content .Finish_heading .Finish_text span {
  font-size: 16px;
}

.Finish .Finish_video {
  position: relative;
  height: 0;
  padding-bottom: 56%;
}

.Finish .Finish_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .Finish_text {
    width: 96% !important;
  }
}

@media screen and (max-width: 768px) {
  .Finish .Finish_content {
    width: 94%;
    padding-top: 0;
    padding-bottom: 1rem;
  }
}

#gallery {
  max-width: 1440px;
  margin: auto;
}

#gallery .gallery_content .gallery_bg {
  position: relative;
}

#gallery .gallery_content .gallery_bg .bg_img img {
  width: 100%;
  height: 240px;
}

#gallery .gallery_content .gallery_bg .bg_img .img2 {
  display: none;
}

#gallery .gallery_content .gallery_bg .bg_text {
  text-align: center;
}

#gallery .gallery_content .gallery_bg .bg_text .text_heading {
  position: absolute;
  top: 15%;
  left: 35%;
}

#gallery .gallery_content .gallery_bg .bg_text .text_heading h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

#gallery .gallery_content .gallery_bg .bg_text .text {
  position: absolute;
  top: 75%;
  left: 45%;
}

#gallery .gallery_content .gallery_bg .bg_text .text :hover a i {
  background-color: #fff;
  color: #607d8b;
}

#gallery .gallery_content .gallery_bg .bg_text .text a {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}

#gallery .gallery_content .gallery_bg .bg_text .text a .icon_text i {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 35px;
}

#gallery .gallery_content .brand-gallery .brand_content .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#gallery .gallery_content .brand-gallery .brand_content .list .item {
  position: relative;
  z-index: 10;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item:hover .item__image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__image {
  overflow: hidden;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__image img {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: rgba(6, 120, 188, 0.9);
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread p {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0px;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread i {
  font-size: 13px;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0276b3;
  line-height: 30px;
  border: 2px solid #fff;
  text-align: center;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread i:hover {
  background: #fff;
  color: #0276b3;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  position: relative;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__1 .heading h2 {
  color: #242424;
  font-size: 29px;
  font-weight: normal;
  text-align: center;
  padding-top: 8rem;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__1 .heading p {
  text-align: center;
  color: #626466;
  font-size: 17px;
  font-weight: 550;
  padding-top: 20px;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__image img {
  width: 100%;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px;
  background-color: #0276b3;
  text-align: center;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread p {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread i {
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0276b3;
  line-height: 50px;
  border: 2px solid #fff;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__4 .item__image img {
  width: 100%;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__7 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content {
  display: none;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn {
  background: #0276b3;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn .view-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn .view-btn-list span {
  font-size: 24px;
  color: #fff;
  padding-right: 15px;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn .view-btn-list .icon p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 0rem;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn .view-btn-list .icon p i {
  color: #fff;
  font-size: 20px;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn .view-btn-list .view-less,
#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn .view-btn-list .less-icon {
  display: none;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn.open .view-btn-list .view-all {
  display: none;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn.open .view-btn-list .all-icon {
  display: none;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn.open .view-btn-list .view-less {
  display: block;
}

#gallery .gallery_content .brand-gallery .brand_content .list .view-content .view-btn.open .view-btn-list .less-icon {
  display: block;
}

#gallery .gallery_content .brand-gallery .brand_content .list.open .item.item__5 {
  display: block;
}

#gallery .gallery_content .brand-gallery .brand_content .list.open .item.item__6 {
  display: block;
}

#gallery .gallery_content .brand-gallery .brand_content .list.open .item.item__7 {
  display: block;
}

@media screen and (max-width: 768px) {
  #gallery .gallery_content .gallery_bg .bg_img img {
    height: 500px;
  }
  #gallery .gallery_content .gallery_bg .bg_img .img1 {
    display: none !important;
  }
  #gallery .gallery_content .gallery_bg .bg_img .img2 {
    display: block;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text_heading {
    left: 20%;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text_heading h2 {
    text-align: center;
    margin-top: -50px;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text {
    left: 30%;
    top: 87%;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text p a span {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text p a .icon_text {
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
  }
  #gallery .gallery_content .brand-gallery .brand_content .list {
    display: block !important;
  }
  #gallery .gallery_content .brand-gallery .brand_content .list .item__5,
  #gallery .gallery_content .brand-gallery .brand_content .list .item__6,
  #gallery .gallery_content .brand-gallery .brand_content .list .item__7 {
    display: none;
  }
  #gallery .gallery_content .brand-gallery .brand_content .list .item__1 {
    display: block;
  }
  #gallery .gallery_content .brand-gallery .brand_content .list .item__1 .heading h2 {
    padding: 30px 0;
  }
  #gallery .gallery_content .brand-gallery .brand_content .list .item__1 .heading p {
    display: none;
  }
  #gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread {
    position: absolute;
    z-index: 20;
    bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: rgba(6, 120, 188, 0.9);
  }
  #gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread p {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0px;
  }
  #gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread i {
    font-size: 13px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0276b3;
    line-height: 30px;
    border: 2px solid #fff;
    text-align: center;
  }
  #gallery .gallery_content .brand-gallery .brand_content .list .view-content {
    display: block;
  }
}

.contact .contact__recall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px 50px 0px;
  background-color: #e7e7e7;
}

.contact .contact__recall .detail p {
  padding-bottom: 10px;
  color: #d92e14;
  font-size: 42px;
  font-weight: normal;
}

.contact .contact__recall .detail a {
  display: block;
  padding: 12px 20px;
  background-color: #d92e14;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
}

.contact .contact__recall .detail a:hover {
  background-color: #fff;
  border: 1px solid #d92e14;
}

.contact .contact__recall .detail a:hover span {
  color: #d92e14;
}

.contact .contact__recall .detail a span {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.contact .contact__show .contact-show-btn p {
  text-align: center;
  color: #2096cd;
  font-size: 15px;
  font-weight: normal;
  margin: 0px;
  padding: 40px 0px;
  cursor: pointer;
}

.contact .contact__show .contact-show-btn p:hover {
  color: #29303b;
}

.contact .contact__show .contact-show-btn p .icon-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact .contact__show .contact-show-content .contact-show-list {
  padding: 40px 95px;
  background: #f3f3f3;
  max-height: 340px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  margin-bottom: 10px;
  display: none;
}

.contact .contact__show .contact-show-content .contact-show-list .contact-show-item {
  padding-bottom: 10px;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  list-style: none;
}

.contact .contact__show .contact-show-content.open .contact-show-list {
  display: block;
}

.contact .contact__residents {
  text-align: center;
  background-color: #092a46;
  padding-top: 30px;
  padding-bottom: 20px;
}

.contact .contact__residents h2 {
  color: #fff;
  font-size: 42px;
  font-weight: normal;
}

.contact .contact__residents p {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.contact .contact__residents p a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.contact .contact__residents .button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
  background-color: #0276b3;
}

.contact .contact__residents .button:hover {
  background-color: #fff;
}

.contact .contact__residents .button:hover p {
  color: #102b4e;
}

.contact .contact__residents .button p {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.contact .contact__search {
  padding: 30px;
  background-color: #333;
}

.contact .contact__search .search__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact__search .search__content .search__left .search {
  width: 350px;
  padding-left: 30px;
  font-size: 30px;
  background-color: #333;
  border: 1px solid #333;
  color: white;
}

.contact .contact__search .search__content .search__left .search::-webkit-input-placeholder {
  color: white;
}

.contact .contact__search .search__content .search__left .search:-ms-input-placeholder {
  color: white;
}

.contact .contact__search .search__content .search__left .search::-ms-input-placeholder {
  color: white;
}

.contact .contact__search .search__content .search__left .search::placeholder {
  color: white;
}

.contact .contact__search .search__content .search__left .search:focus {
  border: 1px solid #37a9e8 !important;
}

.contact .contact__search .search__content .search__left .search:visited {
  border: none;
}

.contact .contact__search .search__content .search__right {
  text-align: right;
}

.contact .contact__search .search__content .search__right a {
  padding-right: 5px;
  text-decoration: none;
  color: #a7a7a7;
  font-size: 17px;
  font-weight: normal;
}

.contact .contact__search .search__content .search__right a:hover {
  color: #fff;
}

.contact .contact__search .search__content .search__right .active {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .contact .contact__show .contact-show-content .contact-show-list {
    padding: 40px 30px;
  }
  .contact .contact__search .search__content .search__left {
    display: none;
  }
  .contact .contact__search .search__content .search__right {
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .contact .contact__show .contact-show-content .contact-show-list {
    padding: 40px 15px;
  }
}

.footer .container-main {
  background-color: #242424;
  padding: 25px 0 90px;
}

.footer .container-main .footer-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.footer .container-main .footer-main .container-left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .container-main .footer-main .container-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .container-main .footer-main .list-heading {
  padding: 25px 18px 25px 0px;
  color: #fff;
  font-size: 20px;
}

.footer .container-main .footer-main .list-heading .fa {
  display: none;
}

.footer .container-main .footer-main ul li {
  list-style: none;
  padding: 5px 0;
}

.footer .container-main .footer-main ul li a {
  color: #a7a7a7;
  text-decoration: none;
  padding: 3px 25px 5px 0;
}

.footer .container-main .footer-main ul li a:hover {
  color: #fff;
}

.footer .secondary .secondary_container {
  background-color: #102b4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 95px;
}

.footer .secondary .secondary_container .secondary-left {
  width: 50%;
}

.footer .secondary .secondary_container .secondary-left .secondary-list {
  padding-top: 30px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .secondary .secondary_container .secondary-left .secondary-list li {
  margin-left: 0;
  padding-bottom: 20px;
}

.footer .secondary .secondary_container .secondary-left .secondary-list li .update {
  color: #37a9e8;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 20px;
}

.footer .secondary .secondary_container .secondary-left .secondary-list li .update .icon-contact {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  background-color: #2096cd;
  padding: 10px;
}

.footer .secondary .secondary_container .secondary-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer .secondary .secondary_container .secondary-right .secondary-right-heading .text-icon {
  color: white;
  margin: 0px 25px 0 0;
  padding: 5px;
  font-size: 13px;
}

.footer .secondary .secondary_container .secondary-right .secondary-right-heading .text-icon span {
  display: none;
}

.footer .secondary .secondary_container .secondary-right .right-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
}

.footer .secondary .secondary_container .secondary-right .right-contact li {
  list-style: none;
}

.footer .secondary .secondary_container .secondary-right .right-contact li a {
  padding: 5px;
  font-size: 20px;
  margin-right: 3px;
  text-decoration: none;
  color: #fff;
}

.footer .secondary .secondary_container .secondary-right .right-contact li a .bi {
  height: 100px;
  width: 100px;
  padding: 5px;
}

.footer .secondary .secondary_container .secondary-right .right-contact li a .bi-facebook {
  background-color: #3c5b99;
}

.footer .secondary .secondary_container .secondary-right .right-contact li a .bi-twitter {
  background-color: #1da2f3;
}

.footer .secondary .secondary_container .secondary-right .right-contact li a .bi-youtube {
  background-color: #ff0100;
}

.footer .secondary .secondary_container .secondary-right .right-contact li a .bi-instagram {
  background-color: #dc2c75;
}

.footer .tertiary .tertiary-content {
  padding: 20px 0 50px 0;
  background-color: #e7e7e7;
}

.footer .tertiary .tertiary-content .tertiary-content-top {
  padding: 0 95px;
  position: relative;
}

.footer .tertiary .tertiary-content .tertiary-content-top .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 5px 0 15px 0;
}

.footer .tertiary .tertiary-content .tertiary-content-top .language a {
  color: #0276b3;
}

.footer .tertiary .tertiary-content .tertiary-content-top .language a:hover {
  text-decoration: none;
  color: #102b4e;
}

.footer .tertiary .tertiary-content .tertiary-content-top .language a .icon-language {
  font-size: 24px;
  margin-right: 10px;
  overflow: hidden;
}

.footer .tertiary .tertiary-content .tertiary-content-top .language a .text-language {
  font-size: 13px;
  text-decoration: underline;
}

.footer .tertiary .tertiary-content .tertiary-content-top .language .language-logo img {
  width: 93px;
}

.footer .tertiary .tertiary-content .tertiary-content-bottom {
  padding: 0 95px;
}

.footer .tertiary .tertiary-content .tertiary-content-bottom h2 {
  padding: 5px 25px 5px 0;
  color: #29303b;
  font-size: 13px;
  font-weight: normal;
}

.footer .tertiary .tertiary-content .tertiary-content-bottom .link-contact {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.footer .tertiary .tertiary-content .tertiary-content-bottom .link-contact .skinny {
  padding: 5px 0px;
  overflow: hidden;
}

.footer .tertiary .tertiary-content .tertiary-content-bottom .link-contact .skinny a {
  width: 100%;
  color: #29303b;
  font-size: 13px;
  padding: 5px 0;
}

.footer .tertiary .tertiary-content .tertiary-content-bottom .link-contact .skinny a:hover {
  text-decoration: none;
}

.footer .tertiary .tertiary-content .tertiary-content-logomb {
  display: none;
}

.footer .tertiary .tertiary-content .tertiary-content-logomb a {
  list-style: none;
}

.footer .tertiary .tertiary-content .tertiary-content-logomb a img {
  width: 93px;
}

@media screen and (max-width: 992px) {
  .footer .secondary .secondary_container .secondary-left .secondary-list .secondary-item1 {
    display: none;
  }
  .footer .tertiary .tertiary-content .tertiary-content-top .language .language-logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer .container-main {
    padding: 0 35px 0;
  }
  .footer .container-main .footer-main .container-left {
    width: 60%;
  }
  .footer .container-main .footer-main .container-right {
    display: block;
    width: 40%;
  }
  .footer .container-main .footer-main .container-right .list-heading {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #626466;
  }
  .footer .container-main .footer-main .container-right .list-heading .fa {
    display: inherit !important;
  }
  .footer .container-main .footer-main .container-right .ul {
    border-bottom: 1px solid #626466;
    padding: 20px 0;
  }
  .footer .container-main .footer-main .container-right .finance .item {
    display: none;
  }
  .footer .container-main .footer-main .container-right .finance.open .item {
    display: block;
  }
  .footer .container-main .footer-main .container-right .owner .item {
    display: none;
  }
  .footer .container-main .footer-main .container-right .owner.open .item {
    display: block;
  }
  .footer .container-main .footer-main .container-right .experience .item {
    display: none;
  }
  .footer .container-main .footer-main .container-right .experience.open .item {
    display: block;
  }
  .footer .secondary .secondary_container {
    padding: 0 25px;
  }
  .footer .secondary .secondary_container .secondary-left {
    display: none;
  }
  .footer .secondary .secondary_container .secondary-right {
    display: inline-block;
  }
  .footer .secondary .secondary_container .secondary-right .secondary-right-heading {
    padding-bottom: 10px;
  }
  .footer .secondary .secondary_container .secondary-right .secondary-right-heading .text-icon span {
    display: initial;
  }
  .footer .secondary .secondary_container .secondary-right .right-contact {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .footer .tertiary .tertiary-content .tertiary-content-top {
    padding: 0 25px;
  }
  .footer .tertiary .tertiary-content .tertiary-content-bottom {
    padding: 0 25px;
  }
  .footer .tertiary .tertiary-content .tertiary-content-bottom .link-contact {
    display: block;
  }
  .footer .tertiary .tertiary-content .tertiary-content-logomb {
    display: block;
    padding: 0 25px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .footer .container-main {
    padding: 0 35px 0;
  }
  .footer .container-main .footer-main {
    display: inherit;
  }
  .footer .container-main .footer-main .list-heading {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #626466;
  }
  .footer .container-main .footer-main .list-heading .fa {
    display: inherit !important;
  }
  .footer .container-main .footer-main ul {
    border-bottom: 1px solid #626466;
    padding: 20px 0;
  }
  .footer .container-main .footer-main .container-left {
    display: inherit;
    width: 100%;
  }
  .footer .container-main .footer-main .container-left .shopping .shopping-list {
    display: none;
  }
  .footer .container-main .footer-main .container-left .shopping.open .shopping-list {
    display: block;
  }
  .footer .container-main .footer-main .container-right {
    display: inherit;
    width: 100%;
  }
  .footer .container-main .footer-main .container-right .finance .item {
    display: none;
  }
  .footer .container-main .footer-main .container-right .finance.open .item {
    display: block;
  }
  .footer .container-main .footer-main .container-right .owner .item {
    display: none;
  }
  .footer .container-main .footer-main .container-right .owner.open .item {
    display: block;
  }
  .footer .container-main .footer-main .container-right .experience .item {
    display: none;
  }
  .footer .container-main .footer-main .container-right .experience.open .item {
    display: block;
  }
  .footer .secondary .secondary_container {
    padding: 0 15px;
  }
  .footer .secondary .secondary_container .secondary-right .secondary-right-heading {
    padding-bottom: 10px;
  }
  .footer .tertiary .tertiary-content .tertiary-content-top {
    padding: 0 15px;
  }
  .footer .tertiary .tertiary-content .tertiary-content-bottom {
    padding: 0 15px;
  }
  .footer .tertiary .tertiary-content .tertiary-content-bottom .link-contact {
    display: block;
  }
  .footer .tertiary .tertiary-content .tertiary-content-logomb {
    display: block;
    padding: 0 15px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */