* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

#header {
  max-width: 1440px;
  margin: auto;
}

#header #header__top {
  background-color: #f3f3f3;
  display: flex;
}

#header #header__top .top_left .left-content {
  padding-left: 95px;
}

#header #header__top .top_left .left-content ul {
  display: flex;
  margin-bottom: 0;
}

#header #header__top .top_left .left-content ul .with-separator {
  padding-left: 2px;
  margin-left: 2px;
  border-left: 1px solid #d6d5d5;
}

#header #header__top .top_left .left-content ul li {
  list-style: none;
}

#header #header__top .top_left .left-content ul li a {
  padding: 10px;
  text-decoration: none;
  color: #102b4e;
  font-size: 13px;
  font-weight: bold;
}

#header #header__top .top_left .left-content ul li a :hover {
  color: #2096cd;
  font-size: 13px;
  font-weight: bold;
}

#header #header__top .top_left .left-content ul li a .icon-mustang {
  background-image: url(../img/mustang.svg);
  height: 30px;
  width: 43px;
  display: inline-block;
  vertical-align: middle;
}

#header #header__top .top_left .left-content ul li a .icon-bronco {
  background-image: url(../img/bronco.svg);
  height: 30px;
  width: 43px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

#header #header__top .top_left .left-content ul li a .left-text {
  display: inline-block;
  width: auto;
  text-align: left;
  vertical-align: middle;
  padding: 10px 0px 10px 0px;
}

#header #header__top .right-content {
  padding: 10px;
  text-align: right;
  position: relative;
}

#header #header__top .right-content .top-heading {
  color: #0276b3;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 110px;
}

#header #header__top .right-content .top-heading .icon-dealer {
  background-image: url(../img/leader.svg);
  height: 23px;
  width: 23px;
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #102b4e;
}

#header #header__bottom {
  display: flex;
  padding: 20px 0;
}

#header #header__bottom .bottom_left {
  padding-left: 130px;
}

#header #header__bottom .bottom_left a {
  text-decoration: none;
}

#header #header__bottom .bottom_left a .brand-logo {
  background: transparent url(../img/bsr-sprite2x.webp) no-repeat -200px 0;
  width: 93px;
  height: 35px;
  background-size: 400px 200px;
  display: inline-block;
  padding: 0;
}

#header #header__bottom .bottom_right {
  display: flex;
}

#header #header__bottom .bottom_right .nav-left .nav-menu {
  display: flex;
}

#header #header__bottom .bottom_right .nav-left .nav-menu .nav-item {
  padding: 0 5px;
  list-style: none;
}

#header #header__bottom .bottom_right .nav-left .nav-menu .nav-item a {
  color: #2096cd;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
}

#header #header__bottom .bottom_right .nav-left .nav-menu .nav-item :hover {
  color: #102b4e;
}

#header #header__bottom .bottom_right .nav-right {
  padding-right: 95px;
}

#header #header__bottom .bottom_right .nav-right .nav-menu {
  display: flex;
}

#header #header__bottom .bottom_right .nav-right .nav-menu .nav-item {
  padding: 0 5px;
  list-style: none;
  margin-left: 15px;
}

#header #header__bottom .bottom_right .nav-right .nav-menu .nav-item a {
  color: #2096cd;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
}

#header #header__bottom .bottom_right .nav-right .nav-menu .nav-item a .user-menu-icon {
  background-image: url(../img/my.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

#header #header__bottom .bottom_right .nav-right .nav-menu .nav-item :hover {
  color: #102b4e;
}

#demo {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

#demo .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#demo .carousel-control-prev {
  opacity: 1;
}

#demo .carousel-control-prev .button__left {
  position: absolute;
  left: 0;
  width: 55px;
  top: 50%;
  height: 60px;
  border: 1px solid #a7a7a7;
  line-height: 70px;
  background-color: #a7a7a7;
}

#demo .carousel-control-prev .button__left:hover {
  border: 1px solid #2096cd;
  background-color: #fff;
}

#demo .carousel-control-prev .button__left:hover i {
  color: #2096cd;
}

#demo .carousel-control-prev .button__left i {
  font-size: 35px;
  color: #fff;
}

#demo .carousel-control-next {
  opacity: 1;
}

#demo .carousel-control-next .button__right {
  position: absolute;
  right: 0;
  width: 55px;
  top: 50%;
  height: 60px;
  border: 1px solid #a7a7a7;
  line-height: 70px;
  background-color: #a7a7a7;
}

#demo .carousel-control-next .button__right:hover {
  border: 1px solid #2096cd;
  background-color: #fff;
}

#demo .carousel-control-next .button__right:hover i {
  color: #2096cd;
}

#demo .carousel-control-next .button__right i {
  font-size: 35px;
  color: #fff;
}

#Intro {
  max-width: 1440px;
  margin: auto;
}

#Intro .Intro_content {
  padding-top: 20px;
}

#Intro .Intro_content .Intro_heading {
  text-align: center;
}

#Intro .Intro_content .Intro_heading h1 {
  font-size: 46px;
  margin-top: 25px;
  font-family: "fordngbs-antenna-light", arial, helvetica, sans-serif;
}

#Intro .Intro_content .Intro_heading .heading_text span {
  font-size: 16px;
}

#Intro .Intro_content .Intro_heading p .btn-primary {
  min-height: 50px;
  width: 270px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "fordngbs-antenna-light", arial, helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  white-space: normal;
  line-height: 1.25;
}

#Intro .Intro_content .Intro_heading p a {
  background-color: #0276b3;
  border: 1px solid #0276b3;
  color: #fff;
}

#Intro .Intro_content .Intro_heading p :hover {
  background-color: #fff;
  color: #0276b3;
}

#Finish {
  max-width: 1440px;
  margin: auto;
}

#Finish .Finish_content {
  padding: 75px;
}

#Finish .Finish_content .Finish_heading {
  text-align: center;
  padding-bottom: 20px;
}

#Finish .Finish_content .Finish_heading h2 {
  color: #242424;
  font-size: 42px;
  font-weight: bold;
}

#Finish .Finish_content .Finish_heading .Finish_text {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

#Finish .Finish_content .Finish_heading .Finish_text span {
  font-size: 16px;
}

#Finish .Finish_video {
  position: relative;
  width: 100%;
}

#Finish .Finish_video .Finish_bg {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  height: 100%;
}

#gallery {
  max-width: 1440px;
  margin: auto;
}

#gallery .gallery_content .gallery_bg {
  position: relative;
}

#gallery .gallery_content .gallery_bg .bg_text {
  text-align: center;
}

#gallery .gallery_content .gallery_bg .bg_text .text_heading {
  position: absolute;
  top: 15%;
  left: 35%;
}

#gallery .gallery_content .gallery_bg .bg_text .text_heading h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

#gallery .gallery_content .gallery_bg .bg_text .text {
  position: absolute;
  top: 75%;
  left: 45%;
}

#gallery .gallery_content .gallery_bg .bg_text .text :hover a i {
  background-color: #fff;
  color: #607d8b;
}

#gallery .gallery_content .gallery_bg .bg_text .text a {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}

#gallery .gallery_content .gallery_bg .bg_text .text a .icon_text i {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 35px;
}

#gallery .gallery_content .brand-gallery .brand_content .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#gallery .gallery_content .brand-gallery .brand_content .list .item {
  position: relative;
  z-index: 10;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item:hover .item__image img {
  transform: scale(1.1);
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__image {
  overflow: hidden;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__image img {
  width: 100%;
  transition: all 0.5s;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: rgba(6, 120, 188, 0.9);
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread p {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0px;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread .view__all {
  display: flex;
  opacity: 0;
  align-items: center;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread .view__all p {
  padding-right: 10px;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item .item__thread i {
  font-size: 13px;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0276b3;
  line-height: 30px;
  border: 2px solid #fff;
  text-align: center;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  position: relative;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__1 .heading {
  position: absolute;
  top: 100px;
  right: 35%;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__1 .heading h2 {
  color: #242424;
  font-size: 29px;
  font-weight: normal;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__1 .heading p {
  text-align: center;
  color: #626466;
  font-size: 17px;
  font-weight: 550;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__2 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__image img {
  width: 100%;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  display: flex;
  width: 100%;
  padding: 15px;
  background-color: #0276b3;
  text-align: center;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread p {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__3 .item__thread i {
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0276b3;
  line-height: 50px;
  border: 2px solid #fff;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__4 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__4 .item__image img {
  width: 100%;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__5 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__6 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

#gallery .gallery_content .brand-gallery .brand_content .list .item__7 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

@media screen and (max-width: 768px) {
  #gallery .gallery_content .gallery_bg .bg_img img {
    height: 500px;
    object-fit: cover;
    object-position: 65% 100%;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text_heading h2 {
    text-align: center;
    margin-top: -50px;
    color: #fff;
    font-size: 29px;
    font-weight: normal;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text {
    top: 87%;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text p a span {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
  }
  #gallery .gallery_content .gallery_bg .bg_text .text p a .icon_text {
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
  }
  #gallery .brand-gallery .brand_content .list {
    display: block !important;
  }
  #gallery .brand-gallery .brand_content .list .item__5,
  #gallery .brand-gallery .brand_content .list .item__6,
  #gallery .brand-gallery .brand_content .list .item__7 {
    display: none;
  }
  #gallery .brand-gallery .brand_content .list .item__3 .item__thread {
    padding-bottom: 70px !important;
  }
  #gallery .brand-gallery .brand_content .list .item__3 .item__thread .view__all {
    cursor: pointer;
    opacity: 1 !important;
    position: absolute;
    bottom: 7px;
    left: 45%;
  }
  #gallery .brand-gallery .brand_content .list .item__3 .item__thread .view__all p {
    color: #fff;
    font-size: 25px;
    font-weight: normal;
  }
}

#contact .contact__recall {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 50px 0px;
  background-color: #e7e7e7;
}

#contact .contact__recall .detail p {
  padding-bottom: 10px;
  color: #d92e14;
  font-size: 42px;
  font-weight: normal;
}

#contact .contact__recall .detail a {
  display: block;
  padding: 12px 20px;
  background-color: #d92e14;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
}

#contact .contact__recall .detail a:hover {
  background-color: #fff;
  border: 1px solid #d92e14;
}

#contact .contact__recall .detail a:hover span {
  color: #d92e14;
}

#contact .contact__recall .detail a span {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

#contact .contact__show p {
  text-align: center;
  color: #2096cd;
  font-size: 15px;
  font-weight: normal;
  margin: 0px;
  padding: 40px 0px;
  cursor: pointer;
}

#contact .contact__residents {
  text-align: center;
  background-color: #092A46;
  padding-top: 30px;
  padding-bottom: 20px;
}

#contact .contact__residents h2 {
  color: #fff;
  font-size: 42px;
  font-weight: normal;
}

#contact .contact__residents p {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

#contact .contact__residents p a {
  text-decoration-line: underline;
}

#contact .contact__residents .button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
  background-color: #0276b3;
}

#contact .contact__residents .button:hover {
  background-color: #fff;
}

#contact .contact__residents .button:hover p {
  color: #102b4e;
}

#contact .contact__residents .button p {
  margin: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

#contact .contact__search {
  padding: 30px;
  background-color: #333;
}

#contact .contact__search .search__content {
  align-items: center;
  justify-content: center;
}

#contact .contact__search .search__content .search__left .search {
  width: 350px;
  padding-left: 30px;
  font-size: 30px;
  background-color: #333;
  border: 1px solid #333;
  color: white;
}

#contact .contact__search .search__content .search__left .search::placeholder {
  color: white;
}

#contact .contact__search .search__content .search__left .search:focus {
  border: 1px solid #37a9e8 !important;
}

#contact .contact__search .search__content .search__left .search:visited {
  border: none;
}

#contact .contact__search .search__content .search__right {
  text-align: right;
}

#contact .contact__search .search__content .search__right a {
  padding-right: 5px;
  text-decoration: none;
  color: #a7a7a7;
  font-size: 17px;
  font-weight: normal;
}

#contact .contact__search .search__content .search__right a:hover {
  color: #fff;
}

#contact .contact__search .search__content .search__right .active {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  #contact .contact__search .search__content .search__left {
    display: none;
  }
  #contact .contact__search .search__content .search__right {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */