// variable color
$color-black-0: #29303b; // default
$color-black-1: #102b4e; //Dùng chỗ california residents
$color-black-2: #242424; //Footer
$color-white-0: #fff; //default
$color-gray-0: #f3f3f3; //Default
$color-gray-1: #626466; //Dùng chỗ happening at ford
$color-gray-2: #a7a7a7; //Dùng ở footer
$color-gray-3: #f7f7f7; //Dùng ở contact
$color-gray-3: #e7e7e7; //Border phần contact
$color-blue-0: #0276b3;
// $color-blue-1:rgb(2, 118, 179);
$color-blue-1: #102b4e;
$color-blue-2: #2096cd;
$color-blue-3: #37a9e8;
$color-red: rgb(217,46,20);
$color-orange: rgb(224,135,0);
$color-trans:transparent;

// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
//Còn 1 font-size: 36px;
$fs-4: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)