#Finish {
  max-width: 1440px;
  margin: auto;
  .Finish_content {
    padding: 75px;
    .Finish_heading {
      text-align: center;
      padding-bottom: $pd-2;
      h2 {
        @include styleText($color-black-2, $fs-4 + 2, $fw-bold);
      }
      .Finish_text {
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        span {
          font-size: 16px;
        }
      }
    }
  }
  .Finish_video {
    position: relative;
    width: 100%;
    .Finish_bg {
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      height: 100%;
    }
  }
}
