#footer {
    max-width: 1440px;
    margin: auto;
    .card-body {
        text-align: center;
        background-color: $color-blue-4;
        color: $color-gray-0;
        h5 {
            font-size: $fs-4;
        }
        p {
            a{
                text-decoration: underline;
            }
        }
        a.btn-primary {
            background-color: $color-blue-0;
            border: 1px solid $color-blue-0;
            padding: $pd-1;
            &:hover {
                @include styleButtonHover($color-white-0,$color-black-1,$color-black-1);
            }
        }
    }
    .navbar {
        text-align: center;
        background-color: $color-black-3;
        padding: 10px 95px 10px 95px;
        form {
           .form-control {
               background: transparent none;
               color: $color-white-0;
               vertical-align: middle;
               font-size: $fs-3;
               border: none;
               &::placeholder {
                   color: $color-white-0;
               }
           } 
        }
        ul.ul-right {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
            li {
                padding: 0 $pd-0;
                a{
                    padding: 0;
                    color: $color-gray-2;
                    &:hover{
                        color: $color-white-0;
                    }
                }
                span {
                    font-weight: bold;
                    color: $color-white-0;
                }
            }
        }
    }
    .container-main{
        background-color: $color-black-2;
        padding: 25px 0 90px;
        .footer-main{
            width: 100%;
            display: flex;
            padding: 10px 0;
            .container-left{
                width: 40%;
                display: flex;
                justify-content: space-around;
            }
            .container-right{
                width: 60%;
                display: flex;
                justify-content: space-around;
            }
            .list-heading {
                padding: 25px 18px 25px 0px;
                color: $color-white-0;
                font-size: $fs-2;
                .icon{
                    font-size: 20px;
                    color: red;
                    height: 30px;
                    width: 40px;
                }
            }
            ul {
                li {
                    list-style: none;
                    padding: 5px 0;
                    a {
                        color: $color-gray-2;
                        text-decoration: none;
                        padding: 3px 25px 5px 0;
                        &:hover{
                            color: $color-white-0;
                        }
                    }
                }
            }
        }
        
    }
}
// @include responsive("extra-large")
// {
//     #footer
//     {
//         .container-main
//         {
//             .container-left{
//                 width: 30%;
//                 margin: 0 auto;
//             }
//             .container-right{
//                 width: 60%;
//             }
//         }
//     }
// }
