#footer {
    max-width: 1440px;
    margin: 0 auto;
    .card-body {
        text-align: center;
        background-color: $color-blue-4;
        color: $color-gray-0;
        h5 {
            font-size: $fs-4;
        }
        p {
            a {
                text-decoration: underline;
            }
        }
        a.btn-primary {
            background-color: $color-blue-0;
            border: 1px solid $color-blue-0;
            padding: $pd-1;
            &:hover {
                @include styleButtonHover($color-white-0, $color-black-1, $color-black-1);
            }
        }
    }
    .navbar {
        text-align: center;
        background-color: $color-black-3;
        padding: 10px 95px 10px 95px;
        form {
            .form-control {
                background: transparent none;
                color: $color-white-0;
                vertical-align: middle;
                font-size: $fs-3;
                border: none;
                &::placeholder {
                    color: $color-white-0;
                }
            }
        }
        ul.ul-right {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
            li {
                padding: 0 $pd-0;
                a {
                    padding: 0;
                    color: $color-gray-2;
                    &:hover {
                        color: $color-white-0;
                    }
                }
                span {
                    font-weight: bold;
                    color: $color-white-0;
                }
            }
        }
    }
    .container-main {
        background-color: $color-black-2;
        padding: 25px 0 90px;
        .footer-main {
            width: 100%;
            display: flex;
            padding: 10px 0;
            .container-left {
                width: 40%;
                display: flex;
                justify-content: space-around;
            }
            .container-right {
                width: 60%;
                display: flex;
                justify-content: space-around;
            }
            .list-heading {
                padding: 25px 18px 25px 0px;
                color: $color-white-0;
                font-size: $fs-2;
            }
            ul {
                li {
                    list-style: none;
                    padding: 5px 0;
                    a {
                        color: $color-gray-2;
                        text-decoration: none;
                        padding: 3px 25px 5px 0;
                        &:hover {
                            color: $color-white-0;
                        }
                    }
                }
            }
        }
    }

    .secondary_container {
        background-color: $color-black-1;
        display: flex;
        padding: 0 95px;
        .secondary-left {
            width: 50%;
            .left-contact {
                padding-top: 30px;
                margin: 0;
                list-style: none;
                
                display: flex;
                justify-content: space-between;
                li {
                    margin-left: 0;
                    padding-bottom: 20px;
                    .update {
                        color: $color-blue-3;
                        font-size: $fs-2;
                        text-decoration: none;
                        display: inline-block;
                        padding-bottom: 20px;
                        .icon-contact {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            border-radius: 20px;
                            color: white;
                            background-color: $color-blue-2;
                            padding: 10px;
                        }
                    }
                }
            }
        }
        .secondary-right {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // align-self: center;
            padding-top: 30px;
            padding-bottom: 40px;
            .text-right {
                color: white;
                margin: 0px 25px 0 0;
                padding: 5px;
                font-size: $fs-1;
            }
            .right-contact {
                display: flex;
                text-decoration: none;
                justify-content: space-around;
                align-content: center;
                margin: 0;
                li {
                    list-style: none;
                    a {
                        padding: 5px;
                        font-size: $fs-2;
                        margin-right: 3px;
                        text-decoration: none;
                        color: $color-white-0;
                        .bi {
                            height: 100px;
                            width: 100px;
                            padding: 5px;
                        }
                        .bi-facebook {
                            background-color: #3c5b99;
                        }
                        .bi-twitter {
                            background-color: #1da2f3;
                        }
                        .bi-youtube {
                            background-color: #ff0100;
                        }
                        .bi-instagram {
                            background-color: #dc2c75;
                        }
                    }
                }
            }
        }
    }

    nav {
        padding: 20px 0 50px 0;
        background-color: $color-gray-3;
        .nav_container {
            padding: 0 95px;
            position: relative;
            .language {
                color: white;
                padding: 5px 0 15px 0;
                a {
                    color: $color-blue-0;
                    &:hover {
                        text-decoration: none;
                        color: $color-black-1;
                    }
                }
                .icon-language {
                    font-size: $fs-3;
                    margin-right: 10px;
                    overflow: hidden;
                }
                .text-language {
                    font-size: $fs-1;
                    text-decoration: underline;
                }
            }
            .logo{
                .logo-ford{
                    background-image: url(../img/logo-ford.jpg);
                    background-size: cover;
                    background-position: center;
                    width: 73px;
                    height: 26px;
                    color: red;
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    right: 40px;
                }
            }
            ._2021{
                .ford-company{
                    list-style: none;
                    a{
                        color: $color-black-3;
                        text-decoration: none;
                        padding: 5px 25px 5px 0;
                    }
                    
                }
            }
            .link-contact{
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                .skinny{
                    padding: 5px 0px;
                    overflow: hidden;
                    a{
                        width: 100%;
                        color: $color-black-3;
                        font-size: $fs-1;
                        padding: 5px 0;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

// @include responsive("extra-large")
// {
//     #footer
//     {
//         .container-main
//         {
//             .container-left{
//                 width: 30%;
//                 margin: 0 auto;
//             }
//             .container-right{
//                 width: 60%;
//             }
//         }
//     }
// }
