#gallery {
  max-width: 1440px;
  margin: auto;
  .gallery_content {
    .gallery_bg {
      position: relative;
      .bg_img {
        img {
          width: 100%;
          height: 240px;
        }
        .img2 {
          display: none;
        }
      }
      .bg_text {
        text-align: center;
        .text_heading {
          position: absolute;
          top: 15%;
          left: 35%;
          h2 {
            @include styleText($color-white-0, $fs-4, $fw-bold);
          }
        }
        .text {
          position: absolute;
          top: 75%;
          left: 45%;
          :hover {
            a {
              i {
                background-color: #fff;
                color: #607d8b;
              }
            }
          }
          a {
            @include styleText($color-white-0, $fs-2 + 2, $fw-normal);
            text-decoration: none;
            .icon_text {
              i {
                width: 35px;
                height: 35px;
                border: 1px solid #fff;
                border-radius: 50%;
                line-height: 35px;
              }
              //   :hover {
              //     background-color: #fff;
              //     color: #607d8b;
              //   }
            }
          }
        }
      }
    }
    .brand-gallery {
      .brand_content {
        .list {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(3, 1fr);
          .item {
            position: relative;
            z-index: 10;
            &:hover {
              .item__image {
                img {
                  transform: scale(1.1);
                }
              }
            }
            .item__image {
              overflow: hidden;
              img {
                width: 100%;
                transition: all 0.5s;
              }
            }
            .item__thread {
              position: absolute;
              z-index: 20;
              bottom: 0px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              padding: $pd-1;
              background: rgba(6, 120, 188, 0.9);

              p {
                @include styleText($color-white-0, $fs-1, $fw-normal);
                margin-bottom: 0px;
              }

              i {
                font-size: $fs-1;
                color: $color-white-0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $color-blue-0;
                line-height: 30px;
                border: 2px solid $color-white-0;
                text-align: center;
                &:hover {
                  background: $color-white-0;
                  color: $color-blue-0;
                }
              }
              
            }
          }
          .item__1 {
            grid-column: 1 / span 3;
            grid-row: 1 / span 1;
            position: relative;
            .heading {
              h2 {
                @include styleText($color-black-2, $fs-3 + 5, $fw-normal);
                text-align: center;
                padding-top: 8rem;
              }
              p {
                text-align: center;
                @include styleText($color-gray-1, $fs-1 + 4, 550);
                padding-top: 20px;
              }
            }
          }
          .item__2 {
            grid-column: 4 / span 1;
            grid-row: 1 / span 1;
          }
          .item__3 {
            grid-column: 1 / span 2;
            grid-row: 2 / span 2;
            .item__image {
              img {
                width: 100%;
              }
            }
            .item__thread {
              position: absolute;
              z-index: 20;
              bottom: 0px;
              display: flex;
              width: 100%;
              padding: $pd-2 - 5;
              background-color: $color-blue-0;
              text-align: center;

              p {
                @include styleText($color-white-0, $fs-2, $fw-normal);
              }
              i {
                font-size: $fs-2;
                color: $color-white-0;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $color-blue-0;
                line-height: 50px;
                border: 2px solid $color-white-0;
              }
            }
          }
          .item__4 {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;
            .item__image {
              img {
                width: 100%;
              }
            }
          }
          .item__5 {
            grid-column: 4 / span 1;
            grid-row: 2 / span 1;
          }

          .item__6 {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1;
          }

          .item__7 {
            grid-column: 4 / span 1;
            grid-row: 3 / span 1;
          }

          .view-content {
            display: none;
            .view-btn {
              background: $color-blue-0;
              .view-btn-list {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                span {
                  font-size: 24px;
                  color: $color-white-0;
                  padding-right: 15px;
                }
                .icon {
                  p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid $color-white-0;
                    border-radius: 50%;
                    margin-bottom: 0rem;
                    i {
                      color: $color-white-0;
                      font-size: 20px;
                    }
                  }
                }

                .view-less,
                .less-icon {
                  display: none;
                }
              }
              &.open .view-btn-list .view-all {
                display: none;
              }
              &.open .view-btn-list .all-icon {
                display: none;
              }
              &.open .view-btn-list .view-less {
                display: block;
              }
              &.open .view-btn-list .less-icon {
                display: block;
              }
            }
          }
          &.open .item.item__5 {
            display: block;
          }
          &.open .item.item__6 {
            display: block;
          }
          &.open .item.item__7 {
            display: block;
          }
        }
      }
    }
  }
}
@include responsive("large"){

}
@include responsive("medium") {
  #gallery {
    .gallery_content {
      .gallery_bg {
    
      .bg_text {
          .text_heading {
            h2 {
              text-align: center;
              // margin-top: -50px;
              @include styleText($color-white-0, $fs-3, $fw-normal);
            }
          }
          .text {
            left: 42%;
            
            p {
              a {
                span {
                  @include styleText($color-white-0, $fs-1, $fw-normal);
                }
                .icon_text {
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  line-height: 10px;
                }
              }
            }
          }
        }
      }
      .brand-gallery {
        .brand_content {
          .list {
            
            
            .item__1 {
             
              .heading {
                h2 {
                  padding: 30px 0;
                }
               
              }
            }
            .item__3 {
              .item__thread {
                position: absolute;
                z-index: 20;
                bottom: 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: $pd-1;
                background: rgba(6, 120, 188, 0.9);

                p {
                  @include styleText($color-white-0, $fs-1, $fw-normal);
                  margin-bottom: 0px;
                }

                i {
                  font-size: $fs-1;
                  color: $color-white-0;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background-color: $color-blue-0;
                  line-height: 30px;
                  border: 2px solid $color-white-0;
                  text-align: center;
                }
              }
            }
            
          }
        }
      }
    }
  }
}

@include responsive("small") {
  #gallery {
    .gallery_content {
      .gallery_bg {
        .bg_img {
          img {
            height: 500px;
            // object-fit: cover;
            // object-position: 65% 100%;
          }
          .img1 {
            display: none !important;
          }
          .img2 {
            display: block;
          }
        }
        .bg_text {
          .text_heading {
            left: 20%;
            h2 {
              text-align: center;
              margin-top: -50px;
              @include styleText($color-white-0, $fs-3, $fw-normal);
            }
          }
          .text {
            left: 30%;
            top: 87%;
            p {
              a {
                span {
                  @include styleText($color-white-0, $fs-1, $fw-normal);
                }
                .icon_text {
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  line-height: 10px;
                }
              }
            }
          }
        }
      }
      .brand-gallery {
        .brand_content {
          .list {
            display: block !important;
            .item__5,
            .item__6,
            .item__7 {
              display: none;
            }
            .item__1 {
              display: block;
              .heading {
                h2 {
                  padding: 30px 0;
                }
                p {
                  display: none;
                }
              }
            }
            .item__3 {
              .item__thread {
                position: absolute;
                z-index: 20;
                bottom: 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: $pd-1;
                background: rgba(6, 120, 188, 0.9);

                p {
                  @include styleText($color-white-0, $fs-1, $fw-normal);
                  margin-bottom: 0px;
                }

                i {
                  font-size: $fs-1;
                  color: $color-white-0;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background-color: $color-blue-0;
                  line-height: 30px;
                  border: 2px solid $color-white-0;
                  text-align: center;
                }
              }
            }
            .view-content {
              display: block;
            }
          }
        }
      }
    }
  }
}
