#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.container {
  max-width: 1440px;
  padding:  0;
}
.navbar__header{
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 20%);
  .nav__top {
    background-color: $color-gray-0;
    display: flex;
    padding: 0 95px;
    .top_left {
      .left-content {
        ul {
          display: flex;
          margin-bottom: 0;
          .with-separator {
            padding-left: 2px;
            margin-left: 2px;
            border-left: 1px solid #d6d5d5;
          }
          li {
            list-style: none;
            a {
              padding: $pd-1;
              text-decoration: none;
              @include styleText($color-blue-1, $fs-1, $fw-bold);
              :hover {
                @include styleText($color-blue-2, $fs-1, $fw-bold);
              }
              .icon-mustang {
                background-image: url(../img/mustang.svg);
                height: 30px;
                width: 43px;
                display: inline-block;
                vertical-align: middle;
              }
              .icon-bronco {
                background-image: url(../img/bronco.svg);
                height: 30px;
                width: 43px;
                display: inline-block;
                vertical-align: middle;
                background-repeat: no-repeat;
              }
              .left-text {
                display: inline-block;
                width: auto;
                text-align: left;
                vertical-align: middle;
                padding: 10px 0px 10px 0px;
              }
            }
          }
        }
      }
    }
    .right-content {
      padding: $pd-1;
      text-align: right;
      position: relative;
      .top-heading {
        @include styleText($color-blue-0, $fs-1, $fw-bold);
        text-decoration: none;
        position: absolute;
        top: 10px;
        right: 15px;
        .icon-dealer {
          background-image: url(../img/leader.svg);
          height: 23px;
          width: 23px;
          vertical-align: middle;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          color: $color-blue-1;
        }
      }
    }
  }
  .nav__bottom {
    height: 80px;
    background-color: $color-white-0;
    display: flex;
    align-items: center;
    padding: 0 95px;
    .nav_bottom_left {
      padding-right: 45px;
      a {
        text-decoration: none;
        .nav-brand-logo {
          background: transparent url(../img/bsr-sprite2x.webp) no-repeat -200px
            0;
          width: 93px;
          height: 35px;
          background-size: 400px 200px;
          display: inline-block;
        }
      }
    }

    .nav_bottom_right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .nav-left {
        display: flex;
        align-items: center;
        .nav-menu {
          display: flex;
          margin-bottom: 0px;
          .nav-item {
            list-style: none;
            a {
              @include styleText($color-blue-2, $fs-1 + 1, $fw-bold - 200);
              text-decoration: none;
              padding: 10px 8px;
            }
            :hover {
              color: $color-blue-1;
            }
          }
        }
      }
      .nav-right {
        display: flex;
        align-items: center;
        margin-left: 120px;
        .nav-menu {
          display: flex;
          margin-bottom: 0px;
          .nav-item {
            list-style: none;
            a {
              @include styleText($color-blue-2, $fs-1 , $fw-bold - 200);
              text-decoration: none;
              padding: 10px 8px;
              .user-menu-icon {
                background-image: url(../img/my.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 25px;
                height: 25px;
                display: inline-block;
                vertical-align: middle;
              }
            }
            :hover {
              color: $color-blue-1;
            }
          }
        }
      }
    }
  }
}
@include responsive("extra-large") {
  .nav__top {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .nav__bottom {
    padding-left: 10px !important;
    padding-right: 10px !important;
    .nav_bottom_right {
      .nav-left {
      }
      .nav-right {
        margin-left: 10px !important;
        .user-text {
          display: none !important;
        }
      }
    }
  }
}

@include responsive("large") {
  
}
